@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("http://fonts.cdnfonts.com/css/gotham");
@import url("https://use.typekit.net/cyf1xcm.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.home-page {
  width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

.code {
font-size: 12px !important;
font-family: 'Kalam', cursive !important;
}

.h1-open{
  margin-bottom: 0 !important;
}

.menu-text {
  font-family: "Gotham Thin", sans-serif;
  font-size: 28px;
}

.name {
  font-family: "Gotham", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.top-bar-right {
  width: 30%;
  margin-right: 3em;
  background-color: black !important;
}

.menu {
  margin-left: 3em;
  color: white;
  background-color: black !important;
}

.menu-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 !important;
  background-color: black !important;
}

.menu-options li {
  list-style: none;
  color: white;
  background-color: black !important;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

a {
  color: white !important;
}

a:visited {
  color: white !important;
}

.top-bar {
  height: 84px;
  background-color: black !important;
}

.header {
  width: 100%;
  height: 470px;
  background-image: url(https://images.unsplash.com/photo-1448301858776-07f780e9c9da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: fill;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0 !important;
}

.header-p{
  margin-bottom: 0 !important;
}

.header p {
  color: white;
  font-size: 21px;
  font-family: "Gotham", sans-serif;
  width: 478px;
  margin-left: 128px;
}

.hello {
  font-size: 36px !important;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.back-nine-header {
  float: right;
  width: 376px;
  height: 671px;
  background-image: url("./images/back-nine-interior.png");
  background-position: center;
  background-size: cover;
  margin-top: -335px;
  margin-right: 65px;
}

.technologies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 535px;
  margin-left: 90px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.tech-logo-1 {
  background-image: url("./images/JS.png");
  background-position: center;
  background-size: cover;
  height: 92px;
  width: 92px;
}

.tech-logo-2 {
  background-image: url("./images/react.png");
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
}

.tech-logo-3 {
  background-image: url("./images/node.png");
  background-position: center;
  background-size: cover;
  height: 110px;
  width: 110px;
}

.tech-logo-4 {
  background-image: url("./images/html.png");
  background-position: center;
  background-size: cover;
  height: 65px;
  width: 65px;
}

.tech-logo-5 {
  background-image: url("./images/css3.png");
  background-position: center;
  background-size: cover;
  height: 70px;
  width: 70px;
}

.about {
  width: 535px;
  height: 108px;
  margin-left: 110px;
}

.about p {
  font-family: "Gotham", sans-serif;
  font-size: 21px;
  font-weight: 200;
}

.about-section {
  background-color: #edf1f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
  height: 559px;
  margin-top: 200px;
}

.about-header {
  text-align: center;
}

.about-header h3 {
  font-family: "Gotham", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.about-header p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 90px;
}

.about-tile-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-tile {
  text-align: center;
  width: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  margin-right: 35px;
}

.top-about {
  background-image: url("./images/arrow.png");
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 74px;
  margin-top: -37px;
  margin-bottom: 29.5px;
}

.about-pic {
  margin-bottom: 18px;
}

.about-tile-picture-1 {
  background-image: url("./images/lightbulb.png");
  background-position: center;
  background-size: cover;
  width: 73px;
  height: 73px;
  margin-bottom: 27px;
}

.about-tile-picture-2 {
  background-image: url("./images/eye.png");
  background-position: center;
  background-size: cover;
  width: 89px;
  height: 81px;
  margin-bottom: 10px;
}

.about-tile-picture-3 {
  background-image: url("./images/bell.png");
  background-position: center;
  background-size: cover;
  width: 69px;
  height: 46px;
  margin-bottom: 30px;
}

.about-tile h5 {
  margin-top: 20px;
  margin-bottom: 22px;
  font-family: "Gotham", sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.about-tile p {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.about-tile-3 h5 {
  padding-top: 12px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 80px;
}

.project-tile-section {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  padding-left: 130px;
  padding-right: 130px;
}

.project-tile {
  height: 651px;
  width: 289px;
  border: 1px solid #56b3c4;
  border-radius: 12px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 25px;
}

.project-pic-1 {
  background-image: url("./images/college.png");
  background-position: center;
  background-size: cover;
  height: 231px;
  width: 285px;
}

.project-pic-2 {
  background-image: url("./images/cfgi.png");
  background-position: center;
  background-size: cover;
  height: 231px;
  width: 285px;
}

.project-pic-3 {
  background-image: url("./images/quiz.png");
  background-position: center;
  background-size: cover;
  height: 231px;
  width: 192px;
}

.project-tile p {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-title h5 {
  font-size: 21px;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
}

.project-title p {
  color: #3398cc;
  font-family: "Gotham", sans-serif;
  font-size: 16px;
}

.recents {
  text-align: center;
  margin-bottom: 38px;
}

.recents h3 {
  font-size: 36px;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
}

.recents p {
  font-family: proxima-nova, sans-serif;
  font-size: 18;
}

.review-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 48px;
  border: 1px solid #79b2d4;
  border-radius: 4px;
  padding-top: 5px;
  background-color: white;
}

.review-button a {
  color: #1e77ac !important;
  font-family: "Gotham", sans-serif;
  font-size: 14px;
}

.concept-section {
  width: 1200px;
  height: 628px;
  background-color: #edf1f3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 88px;
  padding-left: 140px;
}

.about-project {
  width: 357px;
  margin-right: 50px;
}

.about-project h3 {
  font-size: 36px;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-project p {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.BN-pic-1 {
  background-image: url("./images/back-nine-cover.png");
  background-position: center;
  background-size: cover;
  width: 281px;
  height: 502px;
}

.BN-pic-2 {
  background-image: url("./images/back-nine-interior.png");
  background-position: center;
  background-size: cover;
  width: 281px;
  height: 502px;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #646464;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 142px;
  padding-bottom: 40px;
  padding-right: 100px;
  margin-top: 75px;
}

.footer h3{
  color: white;
  font-family: "Gotham", sans-serif;
  font-size: 21px;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.footer-links li{
  margin-left: 20px;
}

.contact{
  margin-top: 75px;
  margin-bottom: 30px;
  text-align: center;
}

.contact h3 {
  font-size: 36px;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.contact a{
  color: black !important;
}

.contact-link p{
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  margin-top: 10px;
}